<web-app>

	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
	</welcome-file-list>


	<filter>
        <filter-name>authenticatefilter</filter-name>
        <filter-class>test1.AuthenticateFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authenticatefilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>test1.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FollowAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.FollowAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowAjaxServlet</servlet-name>
		<url-pattern>/FollowAjaxServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LikeAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.LikeAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeAjaxServlet</servlet-name>
		<url-pattern>/LikeAjaxServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SendMessageDMAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.SendMessageDMAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMessageDMAjaxServlet</servlet-name>
		<url-pattern>/SendMessageDMAjaxServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>test1.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>


	<!-- 1月14日追加 -->
	<servlet>
		<servlet-name>RTAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.RTAjaxServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RTAjaxServlet</servlet-name>
		<url-pattern>/RTAjaxServlet</url-pattern>
	</servlet-mapping>

		<!--画像用-->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>


	<!-- 2月5日追加 -->
	<servlet>
		<servlet-name>DeleteTweetAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.DeleteTweetAjaxServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteTweetAjaxServlet</servlet-name>
		<url-pattern>/DeleteTweetAjaxServlet</url-pattern>
	</servlet-mapping>

	<!--2月12日追加 -->
	<servlet>
		<servlet-name>CreateTweetAjaxServlet</servlet-name>
		<servlet-class>test1.ajax.CreateTweetAjaxServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateTweetAjaxServlet</servlet-name>
		<url-pattern>/CreateTweetAjaxServlet</url-pattern>
	</servlet-mapping>

	<!--例外-->
	<error-page>
		<exception-type>test1.exception.SessionCheckException</exception-type>
		<location>/WEB-INF/jsp/exception.jsp</location>
	</error-page>

</web-app>
