/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #15202B;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #1DA1F2;

  background-color: #15202B;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #1DA1F2;
  color: #fff;
}

.count{
	border:none;
	position:absolute;
}
p{
	color:#687784;
	padding-left:15px;
}

/*フォローボタン*/
/*相手followbtn*/
.followbtnbefore:before {
	content: url("/test1/images/follow1.png");
}


.followbtn:checked ~ .followbtnbefore:before {
	content: url("/test1/images/following1.png");
}

.followbtn {
	display: none;
}

/*プロフィール編集ボタン*/
/*自分changeProf*/
.changeProf{
	display: none;
}

.changeProfbefore:before{
	content: url("/test1/images/changeProf1.png");
}